html{
    background-color: #f6f4f5;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

  img {
    max-width: 100%;
  }

  h1 {
    color: #656F5C;
    position: relative;
    left: 45vw;
  }

  p {
    color: #031926;
  }


  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0px;
    position: relative;
    padding-top: 5vh;
  }

  article {
    padding-left: 10px;
  }

  aside img {
    width: 15vw;
    position: absolute;
    right: 10px;
    padding-bottom: 20px;
  }

  .space {
    padding-top: 5em;
    padding-bottom: 5em;
  }
  

  .block {
    margin: 0;
    position: absolute;
    top: 0;
    background-color: #e3e1e296;
    padding: 0;   
    width: 99%;
    height: auto;
  }

  .slideshow {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    width: 100%
  }
  
  .slide {
  flex: 0 0 auto;
  height: 20%;
  max-width: 100%;
  scroll-snap-align: center;
  transform: translateX(100%);
  animation: slide-in 0.5s forwards;
  }

@keyframes slide-in {
  100% {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 500px) {
  main {
    display:revert;
  }
}