main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
  }

  article {
    padding-left: 10px;
  }

  aside img {
    max-width: 100%;
    width: 15vw;
    position: absolute;
    right: 0;
    padding-right: 10px;
  }